<h1>bCal</h1>

<div id="actions">
  <%= link_to "Add Event", new_event_path %>
</div>

<table id="calendar">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <td>
    <% @events.where(:day == "Sunday").each do |e| %>
      <span class="time"><%= e.start.to_s(:just_time) + "-" + e.end.to_s(:just_time) %></span>
      <br>
      <%= e.description %>
      <hr>
    <% end %>
    </td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
  </tr>
</table>
