<h1>bCal</h1>

<div id="actions">
  <%= link_to "Add Event", new_event_path %>
</div>

<table id="calendar">
  <tr>
    <% @days.each do |d| %>
    <th><%= d %></th>
    <% end %>
  </tr>
  <tr>
    <% @days.each do |d| %>
    <td class="day">
      <% if @ordered_events_by_day[d] %>
        <% @ordered_events_by_day[d].each do |e| %>
          <span class="time"> <%= e.start.to_s(:just_time) + "-" + e.end.to_s(:just_time) %></span>
          <br>
          <%= e.description %>
          <br>
        <% end %>
      <% end %>
    </td>
    <% end %>
  </tr>
</table>
