<h1>bCal</h1>

<div id="actions">
  <a href="#">Add Event</a>
</div>

<table id="calendar">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
    <td>1:00PM-2:00pm</td>
  </tr>
</table>
