/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$lightText: #666666;
$primaryAction: #ff8040;
$secondaryAction: #81abad;
$error: #ffc43f;

$radius: 3px;

@mixin button($tbPad, $lrPad) {
  padding: $tbPad $lrPad;
  border-radius: $radius;
  display: inline-block;
  background-color: $primaryAction;
  color: #ffffff;
  &:hover {
    background-color: darken($primaryAction, 10%);
    text-decoration: none;
  }
}

body {
  background-color: #393939;
  a {
    &:link, &:visited {
      color: $secondaryAction;
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

header h1 {
  a {
    $titleColor:$primaryAction;
    &:link, &:visited {
      color: $titleColor;
    }
    &:hover {
      color: darken($titleColor, 20%)
    }
  }
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background-color: #fdfff4;
  padding: 20px;
  min-height: 500px;
}

.alert {
  background-color: $error;
  border-radius: $radius;
  padding: 10px;
}

#actions {
  padding: 1em 0;

  a:link, a:visited {
    @include button(10px, 20px);
  }

  #quick_add {
    border: 1px solid #d0d0d0;
    border-radius: $radius;
    margin: .5em 0;
    padding: 5px;

    .example {
      color: $lightText;
    }
  }
}

#calendar {
  th {
    border: 1px solid #000;
  }
  th, td {
    width: 117px;
    vertical-align: top;
    margin-left: 7px;
    margin-right: 7px;
  }
}

.event {
  padding-bottom: .9em;
  .time {
    font-size: .9em;
    color: $lightText;
  }
}

input[type="submit"] {
   @include button(5px, 5px);
   border: none;
}

.field_with_errors {
  display: inline;
  background-color: $error;
}

#error_explanation {
  border: 1px solid $error;
  padding: 5px;
}
